/****** CSS RESET ******/
body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/****** CSS UTILS ******/
.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

div.center {
    align-items: center;
}

div.end {
    justify-content: flex-end;
}

.logo,
#login,
.btn {
    padding: 0.5rem 0.3rem;
}

.brd {
    border: 2px dashed black;
}

.mh-25 {
    min-height: 25rem;
}

.mh-20 {
    min-height: 20rem;
}

.mh-35 {
    min-height: 35rem;
}

.fb-70 {
    flex-basis: 70%;
}

.fb-30 {
    flex-basis: 30%;
}

.padding {
    padding: 0.5rem 0 1rem;
}

/****** CSS HEADER ******/
.header {
    min-height: 5rem;
    background-color: #ADD8E6;
}

.small-nav,
.big-nav {
    background-color: #DAA520;
    height: 3rem;
    margin: 1rem 0;
}

.small-nav {
    width: 25%;
}

.big-nav {
    width: 75%;
}

ul.flex {
    justify-content: center;
    list-style-type: none;
}

li {
    padding: 0 0.5rem;
}

a {
    text-decoration: none;
}

.jumbo {
    background-color: #00008B;
    min-height: 25rem;
    align-items: center;
}

.content-jumbo {
    background-color: #EE82EE;
    min-height: 20rem;
}

/****** CSS MAIN ******/
.bg-white {
    background-color: #FFFFFF;
    align-items: center;
}

.bg-gray {
    background-color: #D3D3D3;
    align-items: center;
}

.bg-azure {
    background-color: #1E90FF;
}

.bg-rosa {
    background-color: #FFC0CB;
}

.bg-green {
    background-color: #228B22;
}

/****** CSS FOOTER ******/

.bg-black {
    background-color: #23272A;
}

.bg-magenta {
    background-color: #F08080;
}

.bg-aqua {
    background-color: #20B2AA;
}

.brd-white {
    border: 2px dashed white;
}

div.brd-white {
    flex-basis: calc(100% / 4);
}

.bg-aquamarine {
    background-color: #7FFFD4;
    margin-top: 2.5rem;
}

.mh-5 {
    min-height: 5rem;
}

.between {
    justify-content: space-between;
}

footer .logo, 
footer .btn {
    background-color: #FFB6C1;
}